@import url('https://fonts.googleapis.com/css2?family=Poppins,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.brand-logo{
    width: 50px;
    height: 50px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.9rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}


.nav-buttons{
    margin-left: 55%;
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    /* padding: 0 20px; */
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar i:hover, 
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 1.2em;
    padding: 0 0.7px;
    transition: 0.4s ease;
    /* font-weight: 500; */
    cursor: pointer;
}

#home{
    background-image: url(../images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #D8D8D8;
}

#home span, 
#featured div div span, 
#banner span{
    color: coral;
}

#retro div div span{
    font-weight: 900;
}

#retro div :nth-child(1) span{
    color: blue;
}

#retro div :nth-child(2) span{
    color: red;
}

#retro div :nth-child(3) span{
    color: rebeccapurple;
}


#banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80px;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #D8D8D8;
}

button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #553e3e;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover{
    background-color: orangered;
    
}

@media only screen and (max-width:990px) {
    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
     left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: #000;
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color: cornsilk;
    color: #553e3e;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding-left: 2%;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding-right: 2%;
}

.home-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-right: 10%;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

.banner-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

.star{
    display: inline-block;
    padding: 10px 0;
} 

.star i {
    color: gray;
}

.star i.active {
    color: goldenrod;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.5s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 0.9;
}

.retro-kit{
    cursor: pointer;
    margin-bottom: 2rem;
}

.retro-kit .buy-btn{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;

}

.retro-kit:hover .buy-btn{
    transform: translateY(0px);
    opacity: 0.9;
}

#retro div :nth-child(1) .buy-btn{
    background-color: blue;
} 

#retro div :nth-child(2) .buy-btn{
    background-color: red;
} 

#retro div :nth-child(3) .buy-btn{
    background-color: rebeccapurple;
} 


hr{
    width: 10vw;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #fb774b;
}

.bg-black{
    background-color: #000;
}


.flex{
    display: flex;
}

footer{
    flex-direction: column;
}

.navbar .brandName{
    color: rgb(38, 74, 107);
    margin: 3px 5px;
    font-size: 1.5rem;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus{
    outline: none;
}

/* Cart styles */
.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart table .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: coral;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.quantity_number{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart td a{
    color: coral;
    text-decoration: none;
}
form .remove-button{
    width: 100%;
    background-color: white;
    text-decoration: none;
    border: none;
}

.cart .edit-button{
    font-size: 15px;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid coral;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-button{
    background-color: coral;
    color: white;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

/* Login page */
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid coral;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: coral;
    color: white;
}

#login-form #register-url{
    color: coral;
}

/* Signup page */
#signup-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid coral;
}

#signup-form input{
    width: 50%;
    margin: 5px auto;
}

#signup-form #signup-btn{
    background-color: coral;
    color: white;
}

#signup-form #login-url{
    color: coral;
}

/* Account page */

#account-form{
    width: 50%;
    margin: auto;
    text-align: center;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-account-password{
    color: white;
    background-color: coral;
}

#orders-button, #logout-button{
    color: coral;
    text-decoration: none;
}

/* Orders */

.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}

.orders th{
    text-align: left;
    padding: 5px 20px;
    color: white;
    background-color: coral;
}

.orders th:nth-child(2){
    text-align: right;
}

.orders td{
    padding: 10px 20px;
}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* checkout */

#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 96%;
}

#checkout-form .checkout-button-container{
    margin: 10px;
    margin-right: 40px;
    text-align: right;
}

#checkout-form #checkout-btn{
    color: white;
    background-color: coral;
}

/* Contact Page */

#contact span{
    color: coral;
}